REGION_ENV_MAPPING={"ap-south-1":{"es_url":"ES_URL_MUMBAI","api_key":"ES_API_KEY_MUMBAI","kibana_url":"KIBANA_URL_MUMBAI","kibana_index_id":"KIBANA_INDEX_ID_MUMBAI","display_name":"Mumbai"},"us-east-1":{"es_url":"ES_URL_US_EAST","api_key":"ES_API_KEY_US_EAST","kibana_url":"KIBANA_URL_US_EAST","kibana_index_id":"KIBANA_INDEX_ID_US_EAST","display_name":"US East"}}

ES_URL_MUMBAI=
ES_API_KEY_MUMBAI=
KIBANA_URL_MUMBAI=
KIBANA_INDEX_ID_MUMBAI=

ES_URL_US_EAST=
ES_API_KEY_US_EAST=
KIBANA_URL_US_EAST=
KIBANA_INDEX_ID_US_EAST=
